<fieldset class="address">
  <div class="field">
    <%= f.label :ddd, 'DDD' %><br/>
    <%= f.text_field :ddd %>
  </div>
  <div class="field">
    <%= f.label :number %><br/>
    <%= f.text_field :number %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</fieldset>